// COLORS
$white: #ffffff;
$grey-blue-dark: #888eb0;
$grey-blue-medium: #7e88c3;
$grey-blue-light: #dfe3fa;

$purple: #7c5dfa;
$purple-lighter: #9277ff;
$red: #ec5757;
$red-lighter: #ff9797;
$light-bg-color: #f8f8fb;
$green: #33d69f;
$orange: #ff8f00;
$grey: #373b53;

// dark mode
$black-bg-color: #141625;
$navy: #1e2139;
$navy-lighter: #252945;
$black: #0c0e16;

$default-fs: 1.2rem; /*12px as design system*/
$default-fw: 500;
$menuBarHeight: 10.3rem;
